name: Web E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Clonando o repositório
        uses: actions/checkout@v4

      - name: Configurando Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalando dependências
        run: npm ci

      - name: Instalando Cypress globalmente (permite execução)
        run: npx cypress install

      - name: Dando permissão de execução ao Cypress
        run: chmod +x ./node_modules/.bin/cypress

      - name: Executando testes E2E
        run: npx cypress run
